<!DOCTYPE html>
<html>
<head>
<title>Numerology App</title>
</head>
<body><p>One is the leader. The number one indicates the ability to stand alone, and is a strong vibration. Ruled by the Sun.</p>
<%= yield %>       
</body>
</html>
